*{
    margin: 0;
    padding: 0;
  
}
body{
    position: relative;
    max-height: 715px;
    max-width: 1450px;
    background-color: rgb(17, 17, 17, 100%);
    font-family: Arial, sans-serif;
}
/* nav releted styles */
.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    max-width: 1060px;
    max-height: 46px;
    left: 190px;
    top: 57px;

}
.logo{
    font-size: 2.6rem;
    font-weight: bold;
    color: #FF5733;
}
.logo-left{
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
}
ul{
    display: flex;
    gap: 20px;
}
ul li{
    display: inline;
}
ul li a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    padding: 8px 20px 8px 20px;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: 400;
}
.active{
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 20px 8px 20px;
    border-radius: 46px;
    background: rgb(230, 83, 60);
}
/* main section releted */
.container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
}
.text{
    position: relative;
    max-width: 560px;
    max-height: 439px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 80px 90px;

}
h1{
    color: rgb(255, 255, 255);
    font-size: 4rem;
    font-weight: 900;
    text-align: left;
    margin: 10px 30px;
}
.italic{
}
.banner-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    margin: 10px 30px;
}
.buttons{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 10px 30px;
}
.btn-primary-1{
    position: static;
    width: 224px;
    height: 54px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    margin-right: 10px;
    margin: 0px 14px;
    color: #FFFFFF;
}
.btn-primary-2{
    position: static;
    width: 224px;
    height: 54px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    background: transparent;
    color: #FFFFFF;
   
}
.image-part{
    position: absolute;
    max-width: 349px;
    max-height: 480px;
    left: 877px;
    top: 135px;
}
.video{
    position: relative;
    background: transparent;

}
.video-count {
   position: absolute;
   width: 200px;
   height: 70px;
   box-sizing: border-box;
   border: 1px solid rgba(255, 255, 255, 0.1);
   border-radius: 12px;
   padding: 15px 50px;
   right: 250px;
   bottom: 70px;
   backdrop-filter: blur(20px);
   background: rgba(48, 48, 48, 0.54);
}
.video-tutorial{
    position: absolute;
    width: 200px;
    height: 70px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 10px 15px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    left: 310px;
    bottom: 280px;
}
.circle{
    position: absolute;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #FF5733;
    left: 10px;
    bottom: 17px;
}
.text-related, {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.main-text, .main-text-2{
    font-size: 1.5rem;
    font-weight: 900;
    color: rgb(250, 250, 249);

}
.text-descript, .text-descript-2{
    color: rgba(239, 237, 232, 0.65);
    font-size: 1rem;
    font-weight: 400;
}
/* habit section  */
.habit-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.habit-title{
    color: rgb(255, 255, 255);
}
.habit-description{
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.features{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px 0;
    gap: 50px;
}
.feature{
    position: relative;
    max-width: 150px;
    text-align: center;
}
.feature img{
    position: relative;
    max-height: 150px;
    max-width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.feature h3{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 15px 0;
}
.feature p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.3px;
    text-align: center;
}
/* run section  */
.run-section{
    background-color: #333;
    border-radius: 20px;
    max-width: 1060px;
    margin: 60px 0;
    padding: 20px;
    display: flex;
    gap: 80px;
    align-items: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
}
.run-part h1{
    font-size: 3rem;
    font-weight: 900;
}
.run-part p{
    font-size: 1rem;
    color: #bbbbbb;
    margin-left: 30px;
    margin-bottom: 10px;
}
.run-image img{
    width: 366px;
    height: 312px;
    border-radius: 5px;

}
/* BMI calculation */
.calculation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.calculation p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
}
.bmi-calculation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-height: 350px;
    max-width: 1250px;
    margin: 50px auto;
    padding: 40px;
    background: rgb(34, 34, 34);
    box-shadow:  rgba(0, 0, 0, 0.5);
    
}
.bmi-chart{
    flex: 1;
    margin-right: 20px;
    margin-left: 50px;
}
.bmi-chart h2{
    color: #FFFFFF;
    margin-bottom: 20px;
    font-size: 1.8rem;
}
.bmi-chart table{
    width: 100%;
    border-collapse: collapse;
    font-size: 1.1rem;
    max-width: 400px;
}
.bmi-chart th, .bmi-chart td{
    padding: 12px 15px;
    border: 1px solid #444;
    color: #FFFFFF;
}
.calculator-form{
    flex: 1;
    margin-left: 20px;
    width: 100%;
}
.calculator-form h2{
    font-size: 1.8rem;
    margin: 15px 0;
    color: #FFFFFF;
}
.calculator-form p{
    font-size: 0.8rem;
    margin: 15px 0;
}

.height{
    grid-area: height;
}
.weight{
    grid-area: weight;
}
.age{
    grid-area: age;
}
.sex{
    grid-area: sex;
}
.activity{
    grid-area: activity;
}
.form-group{
    max-width: 400px;
    display: grid;
    gap: 12px;
    grid-template-areas: 
    "height  weight"
    "age      sex"
    "activity  activity";
}
   
input, select {
    background: #444;
    color: rgba(255, 255, 255, 0.6);
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
/* team-member */

.team-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.team-container p{
    font-size: 0.7rem;
    color: #bbbbbb;
    margin-right: 50px;
    margin-bottom: 20px;

}
.team-grid{
    max-width: 1060px;
    max-height: 604px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.team-member{
    position: relative;
    text-align: center;
    background-color: #2b2b2b;
}
.details{
    position: relative;
    bottom: 60px;
    right: 30px;
}
.team-member img{
   width: 100%;
   width: 300px;
   height: 270px;
   padding: 10px 10px 0 10px;
   border-radius: 25px;

}
.team-container h3{
    font-size: 1.5rem;
    color: #FFFFFF;
}


/* challange part  */
.Strength h1{
    font-size: 3rem;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:  100px 20px 30px 0 ;

}
.coaching-description{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 1060px;
    max-height: 604px;
    margin: 0 auto;
}
.coaching-description img{
    width: 500px;
    height: 400px;
}
.coaching-description p{
    color: #FFFFFF;
    margin-right: 10px;
    font-size: 1.2rem;
}
/* footer section  */
.footer{
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
}
.footer-content{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 100px;

    
}
.brand h1{
    font-size: 4rem;
    color: #FF5733;
    margin-bottom: 10px;
}
.brand p{
    color: rgba(255, 255, 255, 0.5);
    position: static;
width: 443px;
height: 72px;
}
.footer-links{
    display: flex;
    gap: 150px;
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
    text-align: left;
    margin-left: 80px;
}
.links-group h2{
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #FFFFFF;
}
.links-group ul{
    flex-direction: column;

}
.links-group ul li a{
    color: #bbbbbb;
    gap: 20px;
}
hr{

    width: 1030px;
    margin: 0px 100px;
    color: #444;
}
.copy-right{
    text-align: center;
    color: #bbbbbb;
    margin-top: 20px;
    font-size: 0.8rem;
}
@media screen and (max-width:576px) {
    .hide{
        display: none;
    }
    .title{
        flex-direction: column;
    }
    ul li a{
        flex-direction: column;

    }
    .container {
        flex-direction: column;
    }
    .features{
        flex-direction: column;
    }
    h1{
        font-size: 1.8rem;
    }
    .run-part h1{
        font-size: 1.8rem
    }
    .run-section{
        flex-direction: column;
    }
    .team-member{
        flex-direction: column;
    }
    .coaching-description{
        flex-direction: column;
    }
    .coaching-description p{
        font-size: 0.7rem;
        width: 280px;
    }
    .coaching-description img{
        width: 280px;
    }
    .Strength h1{
        font-size: 1.5rem;
    }
    .bmi-calculation{
        flex-direction: column;
        background: rgb(34, 34, 34);
    }
    .form-group{
        width: 200px;
    }
    
    .calculation p{
        font-size: 0.7rem;
    }
    .bmi-chart h2{
        font-size: 1.2rem;
    }
    .bmi-chart table{
        width: 250px;
    }
    .calculator-form h2{
        font-size: 1.5rem;
    }
    .calculator-form p{
        font-size: 0.8rem;
    }
    .bmi-calculation{
        width: 250px;
        height: 800px;
    }
}



