*{
    margin: 0;
    padding: 0;
  
}
body{
    height: 715px;
    width: 1450px;
    background-color: rgb(17, 17, 17, 100%);
    font-family: Arial, sans-serif;


}
/* nav releted styles */
.title{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: absolute;
    width: 1060px;
    height: 46px;
    left: 190px;
    top: 57px;

}
.logo{
    font-size: 36px;
    font-weight: bold;
    color: #FF5733;
}
.logo-left{
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
}
ul{
    display: flex;
    gap: 20px;
}
ul li{
    display: inline;
}
ul li a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    padding: 8px 20px 8px 20px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 400;
}

.active{
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 20px 8px 20px;
    border-radius: 46px;
    background: rgb(230, 83, 60);

}
/* main section releted */
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
   
}
.text{
    position: static;
    width: 560px;
    height: 439px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 80px 90px;

}
h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 78px;
    font-weight: 900;
    line-height: 120%;
    text-align: left;
    margin: 10px 30px;
}
.italic{
    font-style: italic;
}
.banner-description{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    margin: 10px 30px;
}
.buttons{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 10px 30px;
}
.btn-primary-1{
    position: static;
    width: 224px;
    height: 54px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    margin-right: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 14px;
    color: #FFFFFF;
}
.btn-primary-2{
    position: static;
    width: 224px;
    height: 54px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    background: transparent;
    color: #FFFFFF;
   
}
.image-part{
    position: absolute;
    width: 349px;
    height: 480px;
    left: 877px;
top: 135px;
}
.video{
    position: relative;
    background: transparent;

}
.video-count {
   position: absolute;
   width: 200px;
   height: 70px;
   box-sizing: border-box;
   border: 1px solid rgba(255, 255, 255, 0.1);
   border-radius: 12px;
   padding: 15px 50px;
   right: 250px;
   bottom: 70px;
   backdrop-filter: blur(20px);
   background: rgba(48, 48, 48, 0.54);
}
.video-tutorial{
    position: absolute;
    width: 200px;
    height: 70px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 10px 15px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    left: 310px;
    bottom: 280px;
}
.circle{
    position: absolute;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #FF5733;
    left: 10px;
    bottom: 17px;
}
.text-related, {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.main-text, .main-text-2{
    font-size: 24px;
    font-weight: 900;
    color: rgb(250, 250, 249);

}
.text-descript, .text-descript-2{
    color: rgba(239, 237, 232, 0.65);
    font-size: 16px;
    font-weight: 400;
}
/* habit section  */

.habit-title{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: rgb(255, 255, 255);
   
    text-align: left;
}
.habit-description{
        display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
}
.habit-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.features{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px 0;
    gap: 50px;
}
.feature{
    width: 150px;
    text-align: center;
}
.feature img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.feature h3{
    
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 15px 0;

}
.feature p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.3px;
    text-align: center;
}
/* run section  */
.run-section{
    background-color: #333;
    border-radius: 20px;
    max-width: 1060px;
    margin: 60px 0;
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 800px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
.run-part{
    
}
.run-image{
   width: 20%;

}
/* BMI calculation */
.calculation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.calculation p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
}
.bmi-calculation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-height: 350px;
    max-width: 1440px;
    margin: 50px auto;
    padding: 40px;
    background: rgb(34, 34, 34);
    box-shadow:  rgba(0, 0, 0, 0.5);
    
}
.bmi-chart{
    flex: 1;
    margin-right: 20px;
}
.bmi-chart h2{
    color: #FFFFFF;
    margin-bottom: 20px;
    font-size: 1.8rem;
}
.bmi-chart table{
    width: 100%;
    border-collapse: collapse;
    font-size: 1.1rem;
}
.bmi-chart th, .bmi-chart td{
    padding: 12px 15px;
    border: 1px solid #444;
    color: #FFFFFF;
}
.calculator-form{
    flex: 1;
    margin-left: 20px;
}
.calculator-form h2{
    font-size: 1.8rem;
    margin: 15px 0;
    color: #FFFFFF;
}
.calculator-form p{
    font-size: 0.8rem;
    margin: 15px 0;
}

.height{
    grid-area: height;
}
.weight{
    grid-area: weight;
}
.age{
    grid-area: age;
}
.sex{
    grid-area: sex;
}
.activity{
    grid-area: activity;
}
.form-group{
    display: grid;
    gap: 12px;
    grid-template-areas: 
    "height  weight"
    "age      sex"
    "activity  activity";
}
   
input, select{
    background: #444;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}