*{
    margin: 0;
    padding: 0;
  
}
body{
    height: 715px;
    width: 1450px;
    background-color: rgb(17, 17, 17, 100%);
    font-family: Arial, sans-serif;


}
/* nav releted styles */
.title{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: absolute;
    width: 1060px;
    height: 46px;
    left: 190px;
    top: 57px;

}
.logo{
    font-size: 36px;
    font-weight: bold;
    color: #FF5733;
}
.logo-left{
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
}
ul{
    display: flex;
    gap: 20px;
}
ul li{
    display: inline;
}
ul li a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    padding: 8px 20px 8px 20px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 400;
}

.active{
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 20px 8px 20px;
    border-radius: 46px;
    background: rgb(230, 83, 60);

}
/* main section releted */
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
   
}
.text{
    position: static;
    width: 560px;
    height: 439px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 80px 90px;

}
h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 78px;
    font-weight: 900;
    line-height: 120%;
    text-align: left;
    margin: 10px 30px;
}
.italic{
    font-style: italic;
}
.banner-description{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    margin: 10px 30px;
}
.buttons{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 10px 30px;
}
.btn-primary-1{
    position: static;
    width: 224px;
    height: 54px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    margin-right: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 14px;
    color: #FFFFFF;
}
.btn-primary-2{
    position: static;
    width: 224px;
    height: 54px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    background: transparent;
    color: #FFFFFF;
   
}
.image-part{
    position: absolute;
    width: 349px;
    height: 480px;
    left: 877px;
top: 135px;
}
.video{
    position: relative;
    background: transparent;

}
.video-count {
   position: absolute;
   width: 200px;
   height: 70px;
   box-sizing: border-box;
   border: 1px solid rgba(255, 255, 255, 0.1);
   border-radius: 12px;
   padding: 15px 50px;
   right: 250px;
   bottom: 70px;
   backdrop-filter: blur(20px);
   background: rgba(48, 48, 48, 0.54);
}
.video-tutorial{
    position: absolute;
    width: 200px;
    height: 70px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 10px 15px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    left: 310px;
    bottom: 280px;
}
.circle{
    position: absolute;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #FF5733;
    left: 10px;
    bottom: 17px;
}
.text-related, {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.main-text, .main-text-2{
    font-size: 24px;
font-weight: 900;
color: rgb(250, 250, 249);

}
.text-descript, .text-descript-2{
color: rgba(239, 237, 232, 0.65);
font-size: 16px;
font-weight: 400;
}
